@model Semester_End.Models.Admin

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}







<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="text-center">
                    <a href="index.html" class="logo">
                        <img src="~/Content/assets/img/logo/logo-black.png" alt="" height="50" class="logo-light mx-auto mt-5 mb-4">
                        <img src="~/Content/assets/img/logo/logo-black.png" alt="" height="50" class="logo-dark mx-auto mb-4">
                    </a>
                </div>
                <div class="card" style="border-radius: 100px;">

                    <div class="card-body p-4">
                        <div class="text-center mb-4">
                            <h2 class="mt-0">Delete</h2>
                            <h3>Are you sure you want to delete @Html.DisplayFor(model => model.FirstName) Data?</h3>

                        </div>


                        <div>
                            <hr />
                            <dl class="row" style="margin-left:25px;">
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.FirstName) :
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.FirstName)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.LastName) :
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.LastName)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.UserName) :
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.UserName)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Email) :
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Email)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Password) :
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Password)
                                </dd>
                            </dl>

                            <form asp-action="Delete" class="row">
                                <input type="hidden" asp-for="Id" />
                                <div class="col-md-6">
                                    <button type="submit" class="btn w-100" style="border-radius: 10px; color: white; background-color: #f5b008;">Yes</button>
                                </div>
                                <div class="col-md-6">
                                    <button asp-action="Index" type="submit" class="btn w-100" style="border-radius: 10px; color: white; background-color: #f5b008;">No</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>