@model Semester_End.Models.Branch

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}



<!-- Begin page -->
<div id="wrapper">

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <div class="heading-title shadow-lg p-1 mb-2 mt-3 bg-warning"><h2>Create Employee</h2></div>
                <div class="message shadow p-2 mb-4 bg-white">You want to Create New Employee</div>






                <div class="account-pages mt-5 mb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-8 col-lg-6 col-xl-5">
                                <div class="text-center">
                                    <a href="index.html" class="logo">
                                        <img src="~/Content/assets/img/logo/logo-black.png" alt="" height="50" class="logo-light mx-auto mt-5 mb-4">
                                        <img src="~/Content/assets/img/logo/logo-black.png" alt="" height="50" class="logo-dark mx-auto mb-4">
                                    </a>
                                </div>
                                <div class="card" style="border-radius: 100px;">

                                    <div class="card-body p-4">
                                        <div class="text-center mb-4">
                                            <h2 class="mt-0">Delete</h2>
                                            <h3>Are you sure you want to delete @Html.DisplayFor(model => model.Branch1) Data?</h3>

                                        </div>


                                        <div>
                                            <hr />
                                            <dl class="row" style="margin-left:25px;">
                                                <dt class="col-sm-4">
                                                    @Html.DisplayNameFor(model => model.Branch1) :
                                                </dt>
                                                <dd class="col-sm-8">
                                                    @Html.DisplayNameFor(model => model.Branch1)
                                                </dd>
                                                <dt class="col-sm-4">
                                                    @Html.DisplayNameFor(model => model.StartTime) :
                                                </dt>
                                                <dd class="col-sm-8">
                                                    @Html.DisplayNameFor(model => model.StartTime)
                                                </dd>
                                                <dt class="col-sm-4">
                                                    @Html.DisplayNameFor(model => model.EndTime)  :
                                                </dt>
                                                <dd class="col-sm-8">
                                                    @Html.DisplayNameFor(model => model.EndTime)
                                                </dd>
                                                <dt class="col-sm-4">
                                                    @Html.DisplayNameFor(model => model.CityNavigation) :
                                                </dt>
                                                <dd class="col-sm-8">
                                                    @Html.DisplayFor(model => model.CityNavigation.CityName)
                                                </dd>
                                            </dl>

                                            <form asp-action="Delete" class="row">
                                                <input type="hidden" asp-for="Id" />
                                                <div class="col-md-6">
                                                    <button type="submit" class="btn w-100" style="border-radius: 10px; color: white; background-color: #f5b008;">Yes</button>
                                                </div>
                                                <div class="col-md-6">
                                                    <button asp-action="Index" type="submit" class="btn w-100" style="border-radius: 10px; color: white; background-color: #f5b008;">No</button>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>