@model Semester_End.Models.Shipment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Shipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrackingId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrackingId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimeShipped)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeShipped)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateShipped)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateShipped)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SenderAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SenderAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveryAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveryStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Charges)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Charges)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SignatureRequired)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SignatureRequired)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Branch.Branch1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentNavigation.PaymentMethod1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServicesTypeNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServicesTypeNavigation.ServiceName)
        </dd>
        
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
